﻿@model TestAssignment.Models.UserFormViewModel
@{
    ViewBag.Title = "User form";
}

<div class="jumbotron">
    <p>Please enter your name and pick the Sectors you are currently involved in.</p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary("", new { style = "color :red" })
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.SelectedValues)

            <select id="SelectedValues" name="SelectedValues" multiple size="7">
                @foreach (var item in ViewBag.allData)
                {
                    <option disabled="disabled" style="font-weight: bold" value="@item.Id">@item.Name</option>

                    foreach (var cat in item.Sectors)
                    {
                        if (cat.Sectors != null)
                        {
                            <option disabled="disabled" style="padding-left: 10px" value="@cat.Id">@cat.Name</option>
                        }
                        else
                        {
                            <option style="padding-left: 10px" value="@cat.Id">@cat.Name</option>
                        }

                        if (cat.Sectors != null)
                        {
                            foreach (var subcat in cat.Sectors)
                            {
                                if (subcat.Sectors != null)
                                {
                                    <option disabled="disabled" style="padding-left: 20px" value="@subcat.Id">@subcat.Name</option>
                                }
                                else
                                {
                                    <option style="padding-left: 20px" value="@subcat.Id">@subcat.Name</option>
                                }

                                if (subcat.Sectors != null)
                                {
                                    foreach (var subsubcat in subcat.Sectors)
                                    {
                                        <option style="padding-left: 30px" value="@subsubcat.Id">@subsubcat.Name</option>
                                    }
                                }
                            }
                        }
                    }
                }
            </select>

            <div>
                @Html.CheckBoxFor(m => m.TermsIsAccepted)
                @Html.LabelFor(m => m.TermsIsAccepted)
            </div>

            <div>
                <button name="savebtn" class="btn btn-default" type="submit">Save</button>
            </div>
        </div>
    }
</div>
@if (ViewData.ModelState.IsValid && Request.Form["savebtn"] != null)
{
    <script type="text/javascript">
            alert("Data has been sent");
    </script>
}
